
.divForImage{
    display: flex;
    width: 35%;

    img{
        height: 100vh;
        width: 100%;
        margin-left: 0%;
    }
   
}

.divForForm{
    display: flex;
    flex-direction: column;
    &__topDiv{
        p{
            display: flex;
            font-size: 25PX;
           // font-weight: bold;
            font-family: sans-serif;
            width: 60%;
            margin-left: 3%;
        }
        &__topP{
            margin-top: 20vh;
            
        }
        &__botP{
            margin-bottom: 20px;
        }

    }
    &__midDiv{
        background-color: #ffffff;
        margin-left: 3%;
        p{
            font-size: 25PX;
            font-family: sans-serif;
            
        }
        input{
            display: block;
            margin-right: 20px;
        }
        div{
            display: flex;
            margin: 25px;

        }

    }
    &__botDiv{
        margin-left: 3%;
        &__createAccBtn{
            background-color: #596D48;
            color: white;
        }

    }
}

.main{
    display: flex;
    background-color: #f9fafb73;
}